@font-face /*perintah untuk memanggil font eksternal*/
{
  font-family: Lexend; /*memberikan nama bebas untuk font*/
  src: url('../fonts/font/Lexend-VariableFont_wght.ttf');/*memanggil file font eksternalnya di folder nexa*/
}
/* -------------------------font-------------------------- */


body{
    font-family: Lexend;
    background-color: #1A374D;
}
.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 1.3rem;
    --bs-navbar-color: rgba(251, 251, 251);
    --bs-navbar-hover-color: rgba(251, 251, 251);
    --bs-navbar-disabled-color: rgba(0, 0, 0, 0.3);
    --bs-navbar-active-color: #1A374D;
    --bs-navbar-brand-padding-y: 0.3125rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: rgba(0, 0, 0, 0.1);
    --bs-navbar-brand-hover-color: rgba(0, 0, 0, 0.1);
    --bs-navbar-nav-link-padding-x: 0.5rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --bs-navbar-toggler-icon-bg: url(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z");
    --bs-navbar-toggler-border-color: rgba(0, 0, 0, 0.1);
    --bs-navbar-toggler-border-radius: 0.375rem;
    --bs-navbar-toggler-focus-width: 0.25rem;
    --bs-navbar-toggler-transition: box-shadow 0.10s ease-in-out;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: #1A374D;
    text-align: center;
    font-family: Lexend;
    padding: 0 2%;
    height: 100px;
    font-size: 14px;
    width: 100%;
    letter-spacing: 1.2px;
    box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.1);
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: #fff;
}

.nav-item{
    margin: 20px 0;
}

.navbar-nav .nav-item a.btn{
    font-weight: bold;
    font-size: 14px;
    width: 150px;
    text-decoration: none;
    color: #fff;
    background-color: #1A374D;
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.collapse a.btn.btn-outline-primary:hover{
   background-color: #fff;
   color: var(--bs-navbar-active-color);
}

/* -----------------------/Navbar----------------------- */
.wrap{
    width: 100%;
    margin: auto;
    background-color: #1A374D;
    height: 40rem;
    padding: 0 5%;
    display: flex;
    -moz-text-size-adjust: auto;
    -webkit-text-size-adjust: auto;
    -ms-text-size-adjust: auto;
}

.wrap > div{
    color: #fff;
    width: 40%;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.wrap h1{
    font-size: 64px;
    margin: 20px 0;
}

.wrap h5{
    font-size: 18px;
}
.wrap >img{
    width: 60%;
    height: 30rem;
    align-self: center;
}

.wrap-container{
    width: 100%;
    height: auto;
    margin: 20px 0;
    background-color: #B1D0E0;
    min-height: 35rem;
    padding: 0 5%;
    display: flex;
    -moz-text-size-adjust: auto;
    -webkit-text-size-adjust: auto;
    -ms-text-size-adjust: auto;
}


.wrap-container > div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-self: center;
    color: #1A374D;
}
.wrap-container a.btn{
    color: #fff;
    width: 20rem;
    height: 3rem;
    border-radius: 25px;
    letter-spacing: 0.15rem;
    border: none;
    padding: 10px 0;
    text-decoration: none;
    margin: 1.5rem 0;;
    background-color: #1A374D;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.wrap-container a.btn:hover{
    background-color: #1A374D;
}

.wrap-container h1{
    font-size: 64px;
    margin: 20px 0;
}

.wrap-container h5{
    font-size: 18px;
}
.wrap-container small{
    color: gray;
}
.wrap-container >img{
    width: 50%;
    height: auto;
    align-self: center;
    box-shadow:  0 5px 8px 0 rgba(1, 1, 1, 0.5);;
}

.content-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.content-container > .sec-1{
    display: flex;
    flex-direction: column;
}

.content-container > .sec-2{
    display: flex;
    flex-direction: column;
}

.content-container .sec-1{
    height: 40%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 5%;
    margin: 40px 0;
    background-color: #1A374D;
    gap: 2rem;
}
.content-container .card{
    background-color: white;
    width: 100%;
    height: 100%;
    box-shadow:  0 5px 8px 0 rgba(1, 1, 1, 0.5);
    border-radius: 5px;
    transition: 0.3s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.content-container .card > img{
    object-fit: cover;
    height: 180px;
    width: 100%;
}

.content-container .card > .card-body{
    padding: 20px ;
}

.content-container .card h4{
    font-size: 24px;
}

.content-container .card > .card-footer{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    border: none;
}

.content-container .card-footer p {
    font-size: 14px;
}

.content-container .sec-2{
    height: 60%;
    padding: 0 5%;
    margin: 40px 0;
    color: #fff;
    text-align: center;
}

.sec-2 h1{
    font-size: 64px;
}

.sec-2 h5{
    font-size: 18px;
}

.card img{
    z-index: 0;
}
.sec-2 a.btn{
    color: #fff;
    width: 20rem;
    height: 3rem;
    border-radius: 25px;
    background-color: transparent;
    border: 3px solid #fff;
    letter-spacing: 0.15rem;
    padding: 10px 0;
    text-decoration: none;
    margin: 1.5rem 0;;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.sec-2 a.btn:hover{
    background-color: #fff;
    color: #1A374D;
    border-color: #fff;
}

.content-container .card:hover{
    cursor: pointer;
    box-shadow:  2px 10px 10px 0 rgba(1, 1, 1, 0.8);
}
.container-dalam .card:hover{
    cursor: pointer;
    box-shadow:  2px 10px 10px 0 rgba(1, 1, 1, 0.8);
}

.end-content{
    background-color: #B1D0E0;
    height: 35rem;
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.end-content h1{
    font-size: 48px;
}

.end-content h5{
    font-size: 16px;
}

.end-content > div{
    align-self: center;
    display: flex;
    flex-direction: column;
}

.end-content > div > img{
    align-self: center;
    margin-bottom: 3rem;
}

.end-content a.btn{
    color: #fff;
    width: 20rem;
    height: 3rem;
    border-radius: 25px;
    letter-spacing: 0.15rem;
    border: none;
    padding: 10px 0;
    text-decoration: none;
    margin: 1.5rem 0;;
    background-color: #1A374D;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.end-content a.btn:hover{
    background-color: #1A374D;
}
/* <!----Footer-----> */

footer{
    border-top: 1px solid #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    color: #fff;
    height: 80px;
} 
footer > div > i{
    display: flex;
    gap: 30px;
    padding: 0 15px;
}

/*/Responsive/*/

@media only screen and (max-width: 750px) {
  body {
    background-color: #1A374D;
  }
  .wrap{
    flex-wrap: wrap-reverse;
    height: auto;
  }

  .wrap > div {
    width: 100%;
  }

  .wrap >img {
    width: 100%;
    height: auto;
  }

   .wrap h1{
    font-size: 48px;
  }

  .wrap h5{
    font-size: 16px;
  }

 .wrap-container h1{
    font-size: 48px;
  }

  .wrap-container h5{
    font-size: 16px;
  }

  .sec-2 h1{
    font-size: 48px;
}

 .sec-2 h5{
    font-size: 16px;
}

.end-content h1{
    font-size: 32px;
}

.end-content h5{
    font-size: 14px;
}

  .content-container{
    flex-wrap: wrap;
    height: auto;
    text-align: justify;
  }
  .content-container .sec-1{
    grid-template-columns: 1fr;
  }

  .wrap-container{
    flex-wrap: wrap-reverse;
    height: auto;
    padding: 3rem 5%;
  }

  .wrap-container > div{
    width: 100%;
    text-align: justify;
  }

  .wrap-container > img{
    width: 100%;
  }
  .wrap-container a.btn{
    width: 100%;
    justify-content: center;
  }

  .end-content{
    flex-wrap: wrap;
    height: auto;
    padding: 2rem 2rem;
  }
  
  footer p {
    display: none;
  }

  footer{
    flex-wrap: wrap;
    justify-content: center;
  }

  .container-landing{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

}
