body{
	margin:0;
	padding:0;
	font-family: sans-serif;
}

menu{
	width: 100%;
	background: #33cc33;
}

ul{
	width: 80%;
	margin: 0 auto;
	padding: 0;
}

ul li{
	list-style: none;
	display: inline-block;
	padding: 20px;
}

ul li:hover{
	background: #ff6600;
}

ul li a{
	color:#fff;
	text-decoration: none;
}

.toggle{
	width: 100%;
	padding: 10px 20px;
	background: #00ffcc;
	text-align: right;
	box-sizing: border-box;
	color: #fff;
	font-size: 25px;
	display: none;
}

@media (max-width: 750px)
{
	.toggle{
		display: block;
	}
	ul{
		width: 100%;
		display: none;
	}
	ul li{
		display: block;
		text-align: center;
	}
	.active{
		display: block;
	}
}