@font-face /*perintah untuk memanggil font eksternal*/
{
  font-family: Lexend; /*memberikan nama bebas untuk font*/
  src: url('../fonts/font/Lexend-VariableFont_wght.ttf');/*memanggil file font eksternalnya di folder nexa*/
}

li {
    list-style: none;
    margin: 20px 0 20px 0;
}

.sidebar li a {
    text-decoration: none;
}

#main-content button.btn{
    background: #1A374D;
    margin-top: -20px;
}

#main-content button.btn i{
    color: white;
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    margin-left: -300px;
    transition: 0.4s;
    background: #1A374D;
    font-family: Lexend;
}

.sidebar img.logo{
    width: 30%;
}

.active-main-content {
    margin-left: 250px;
}

.active-sidebar {
    margin-left: 0;
}

#main-content {
    transition: 0.4s;
}

#main-content .main-active{
    font-family: Lexend;
    font-weight: bolder;
    font-size: 48px;
    color: #1A374D;
}

.active-content {
    margin-left: 250px;
}

#content {
    transition: 0.4s;
}