@font-face /*perintah untuk memanggil font eksternal*/
{
  font-family: lexend; /*memberikan nama bebas untuk font*/
  src: url('../fonts/font/Lexend-VariableFont_wght.ttf');/*memanggil file font eksternalnya di folder nexa*/
}
/* <!------------------font------------------------> */

html, body{
    font-family: lexend;
    background-color: #1A374D;
}

a {
    text-decoration: none;
	font-family: Lexend;
	font-size: 16px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #1A374D;
}

.txt1 {
    font-family: Lexend;
    font-size: 13px;
    line-height: 1.5;
    font-weight: bold;
    color: #333333;
  }
  
  .txt2 {
    font-family: Lexend;
    font-size: 13px;
    line-height: 1.5;
    color: #666666;
    font-weight: bold;
  }

  .txt3 {
    font-family: Lexend;
    font-size: 13px;
    line-height: 1.5;
    color: #666666;
    font-weight: bold;
  
  }

  .text{
    padding-top: 12px;
    padding-bottom: 30px;
  }

  .text1{
    padding-top: 30px;
  }

.limiter {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.container-landing{
    width: 100%;  
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    place-items: center;
    background-color: #1A374D;
    -moz-text-size-adjust: auto;
    -webkit-text-size-adjust: auto;
    -ms-text-size-adjust: auto;
}

.wrap-login100 {
    width: 960px;
    background: #B1D0E0;
    border-radius: 30px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 50px 35px 95px;
  }
  
  .wrap-login101 {
    width: 960px;
    background: #B1D0E0;
    border-radius: 30px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 50px 35px 95px;
  }
  .wrap-login102 {
    width: 600px;
    background: #B1D0E0;
    border-radius: 30px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 5rem;
  }
  
  .wrap-login103 {
    width: 750px;
    background: #B1D0E0;
    border-radius: 30px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 5rem;
  }
  /*------------------------------------------------------------------
  [  ]*/
  .login100-pic, .login101-pic{
    width: 50%;
  }

  .login102-pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }

  .login102-pic > span.text-center{
    font-weight: bold;
    letter-spacing: 2px;
    font-family: lexend;
    font-size: 12px;
    max-width: 60%;
    width: 30%;
  }
  
  .login100-pic img {
    max-width: 80%;
    margin-top: 80px;
    justify-content: center;
    cursor: default!important;
  }

  .login102-pic img {
    max-width: 60%;
    width: 30%;
    margin-top: 50px;
    justify-content: center;
    cursor: default!important;
}
  
  .login101-pic img {
    max-width: 80%;
    margin-top: 180px;
    justify-content: center;
    cursor: default!important;
  }
  
  /*------------------------------------------------------------------
  [  ]*/
  .login100-form {
    width: 300px;
  }
  
  .login101-form {
    width: 380px;
  }

  .login100-form-title {
    font-family: Lexend;
    font-weight: bold;
    font-size: 24px;
    color: #1A374D;
    line-height: 1;
    text-align: center;
  
    width: 100%;
    display: block;
    padding-bottom: 45px;
  }
  
  .login100-form .login100-form-logo img{
    width: 50%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
  }
  
  .login101-form .login100-form-logo img{
    width: 50%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
  }
  /*---------------------------------------------*/
  .wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
  
  }
  
  .input100 {
    font-family: Lexend;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
  
    display: block;
    width: 100%;
    height: 50px;
    border: 3px;
    border-color: #1A374D;
    border-radius: 15px;
    padding: 0 30px 0 68px;
  }
  
  
  /*------------------------------------------------------------------
  [ Focus ]*/
  .focus-input100 {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    color: #1A374D;
  }
  
  
  .symbol-input100 {
    font-size: 15px;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666666;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .input100:focus + .focus-input100 + .symbol-input100 {
    color: #1A374D;
    padding-left: 28px;
  }
  
  /*------------------------------------------------------------------
  [ Button ]*/
  .container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
  }
  
  hr.line{
    border: 0.5px solid #1A374D;
    width: 40%;
    border-radius: 50px;
  }
  
  .or{
    line-height: 30px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
  }
  
 button.login100-form-btn {
    font-family: Lexend;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    border: 2px solid #1A374D;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #1A374D;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    margin-bottom: 10px;
  }
  
button.login100-form-btn:hover{
    cursor: pointer;
    background-color: #fff;
    color: #1A374D;
  }
  
   button.login101-form-btn {
    font-family: Lexend;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #FF002E;
    border: 2px solid #FF002E;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    -ms-transition: all 0.4s;
}
  
  .login101-form-btn:hover{
    cursor: pointer;
  }
  
  /*------------------------------------------------------------------
  [ Responsive ]*/
  
  
  
  @media (max-width: 992px) {
    .wrap-login100, .wrap-login101 .wrap-login102 .wrap-login103{
      padding: 70px 90px 33px 85px;
    }
  
    .login100-pic {
      width: 50%;
    }
  
    .login101-pic {
      width: 50%;
    }
  
    .login100-form {
      width: 50%;
    }
  }
  
  @media (max-width: 768px) {
    .wrap-login100, .wrap-login101 .wrap-login102 .wrap-login103{
      padding: 100px 80px 33px 80px;
    }
  
    .login100-pic {
      display: none;
    }
  
    .login101-pic {
      display: none;
    } 
    .login102-pic {
      display: none;
    } 

    .login100-form {
      width: 100%;
    }
  }
  
  @media (max-width: 576px) {
    .wrap-login100, .wrap-login101 .wrap-login102 .wr{
      padding: 100px 15px 33px 15px;
    }
  }
  
  
  /*------------------------------------------------------------------
  [ Alert validate ]*/
  
  .validate-input {
    position: relative;
  }
  
  .alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;
    font-family: Poppins-Medium;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
    -ms-transition: opacity 0.4s;
}
  
  .alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13px;
  }
  
  .alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
  }
  
  @media (max-width: 992px) {
    .alert-validate::before {
      visibility: visible;
      opacity: 1;
    }
  }
