@font-face /*perintah untuk memanggil font eksternal*/
{
  font-family: Lexend; /*memberikan nama bebas untuk font*/
  src: url('../fonts/font/Lexend-VariableFont_wght.ttf');/*memanggil file font eksternalnya di folder nexa*/
}


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Lexend;
}

.limiter {
    width: 100%;
    margin: 0 auto;
  }
  
  .container-landing {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
    background: #1A374D;
  }
  .container-landing img.server{
    max-width: 45%;
    min-width: 15%;
    min-height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .wrap-landing {
    width: 50%;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    background: #b1d0e0;
  }
.option-form{
  width: 100% ;
}

  .option-form .logo img{
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 70px;
  }

  .option-form-title {
    font-family: Lexend;
    font-weight: bolder;
    font-size: 24px;
    color: #1A374D;
    line-height: 1.2;
    text-align: center;
  
    width: 100%;
    display: block;
    padding-bottom: 45px;
  }
  
  button {
    outline: none !important;
    border: none;
  }

  .container-option-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
  }
  
  .container-option-form-btn a{
    text-decoration: none;
  }

  .option-form-btn {
    font-family: Lexend;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    text-align: center;
  
    width: 200px;
    height: 100px;
    border-radius: 30px;
    background: #1A374D;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    margin-bottom: 20px;
    margin-right: 15px;
    margin-left: 15px;
    position: relative;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .option-form-btn:hover{
    cursor: pointer;
  }
  
  .option-form-btn i{
    color: #fff;
    margin: 15px;
  }

  .guest-form{
    width: 100% ;
    margin-top: 300px;
    margin-bottom: auto;
  }
  
    .guest-title {
      font-family: Lexend;
      font-weight: bolder;
      font-size: 18px;
      color: #fff;
      line-height: 1.2;
      text-align: center;
    
      width: 100%;
      display: block;
      padding-bottom: 45px;
    }

  
  .container-guest {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
  }
  
  .guest-btn {
    font-family: Lexend;
    font-size: 16px;
    line-height: 1.5;
    color: #1A374D;
    text-align: center;
  
    width: 200px;
    height: 100px;
    border-radius: 30px;
    background: #B1D0E0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    position: absolute;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .guest-btn:hover{
    cursor: pointer;
  }
  
  .guest-btn i{
    color: #1A374D;
    margin: 15px;
  }
  

  .wrap-landing1{
    width: 50%;
    background: #1A374D;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: right;
    
  }
 