body{
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #1A374D;
    font-size: 10pt;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.page {
    width: 210mm;
    min-height: 297mm;
    padding: 20mm;
    margin: 10mm auto;
    border: 1px white solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
    height: 257mm;
}

img{
    width: 18%;
    margin: 1rem 0;
    margin-right: 1rem;
}

.kop{
    display: flex;
    justify-content: space-between;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

.kop-1{
    display: grid;
    grid-template-columns: 1fr;
}


div.bold{
    font-size: 16pt;
    margin: 0;
}

div.kantor{
    margin: 5px 2rem;
    font-size: 12pt;
}

div.jalan{
    font-size: 9pt;
    display: flex;
    justify-content: space-between;
}
.footer{
    display: flex;
    justify-content: right;
    margin: 5rem 2rem;
}
p.judul{
    display: flex;
    justify-content: center;
    margin: 4rem;
    font-size: 12pt;
    letter-spacing: 1px;
}

.container{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
}

.container-isi{
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}
.ket{
    display: flex;
    justify-content: left;
    margin: 1rem;
    font-size: 9pt;
    letter-spacing: 1px;
}
p.isi{
    font-size: 8pt;
}
.content{
    display: grid;
    grid-template-columns: 1fr;
}

.content-center{
    text-align: center;
}

p.nip{
    padding-top: 5px;
    box-sizing: border-box;
    border-top: 1.5px solid black;
}

@page {
    size: A4;
    margin: 1rem;
}

@media print {
    html, body {
        width: 210mm;
        height: 297mm;        
    }
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}
