@font-face /*perintah untuk memanggil font eksternal*/
{
  font-family: Lexend; /*memberikan nama bebas untuk font*/
  src: url('../fonts/font/Lexend-VariableFont_wght.ttf');/*memanggil file font eksternalnya di folder nexa*/
}
/* -------------------------font-------------------------- */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lexend;
}

body{
    font-family: Lexend;
    background-color: #1A374D;
    width: 100%;
}

.container-luar{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}
.container-card{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}

.container-dalam{
  align-self: center;
  background-color: #B1D0E0; 
  border-radius: 35px; 
  margin: 50px; padding: 2rem; 
  width: 90%;
}

h1.judul{
  padding: 2rem;
  width: 100%;
}

.card{
  width: 20rem; 
  border-radius: 5px;
  transition: 0.5s;
}

.card-img-top{
  object-fit: cover; width:100%; height:15rem
}
 .card-body > a{
  color: black;
  text-decoration: none;
 }

 .card-footer{
  display: flex;
  border: none; 
  justify-content: space-between;
 }

 .card-footer > p > b > a{
  text-decoration: none; 
  color: black;
 }

 .container-card .card{
  padding-bottom: 3rem; width:80%; margin:5rem auto;
 }

 .card > .row {
  padding-left: 2rem; padding-right: 2rem;
 }

 @media only screen and (max-width: 750px)
 {
  .container-dalam{
    background-color: transparent;
    color: white;
  }

  .card{
    color: black;
  }

  h1.judul{
    font-size: 24pt;
  }

  .container-card{
    background-color: white;
  }
  .container-card .card{
    width: 100%;
    margin: 0;
  }
 }
.overlay{
  position: absolute;
  border-radius: 25px 25px 0 25px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #B1D0E0;
  -webkit-border-radius: 25px 25px 0 25px;
  -moz-border-radius: 25px 25px 0 25px;
  -ms-border-radius: 25px 25px 0 25px;
  -o-border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;

  height: 40px;
  width: 40px;
  background-color: #B1D0E0;
}

.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #fff;
  -webkit-border-radius: 0 25px 0 0;
  -moz-border-radius: 0 25px 0 0;
  -ms-border-radius: 0 25px 0 0;
  -o-border-radius: 0 25px 0 0;
}

 .image-content, .card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
 }

 .image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

 .card-image{
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-self: center;
  padding: 3px;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

 .card-image .card-img{
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #1A374D;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.card-wrapper .card{
  border-radius: 25px;
  background-color: #fff;
  height: 350px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.slide-container{
  max-width: 1120px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 40px 0;
}
.slide-content{
  margin: 2rem 2rem;
  overflow: hidden;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.name{
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.description{
  font-size: 12px;
  text-align: center;
  padding: 2rem 0;
}

.button{
  border: none;
  color: white;
  font-weight: 300;
  background-color: #1A374D;
  padding: 8px 16px;
  width: 100%;
  border-radius: 50px;
  margin: 4px;
  cursor: pointer;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}


.swiper-navBtn{
  margin: 0 5rem;
}
.container-luar > .swiper-navBtn{
  color: #82A6CB;
  transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
}

.swiper-navBtn:hover{
  color: #B1D0E0;
}

.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 40px;
}
.container-swipper{
  padding: 1rem 1rem;
  align-self: center;
}
.container-swipper .swiper-pagination-bullet{
  background-color: #fff;justify-content: center;
  opacity: 1;
}
.container-swipper .swiper-pagination-bullet-active{
  background-color: #82A6CB;
}

.card-content h2{
  z-index: 5;
  text-align: center;
}
@media screen and (max-width: 1320px) {
  .slide-content{
    margin: 1rem 1rem;
  }
  .container-luar > .swiper-navBtn{
    display: none;
  }
}